@import 'shared.scss';

.header {
  background-color: $blue;
  color: $white;
  padding: 30px $leftOffset;
  text-align: left;
  h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: 17px;
    line-height: 1.3em;
    svg {
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
  }
}

