@import "./shared.scss";

@mixin center-abs {
  top: 50%;
  @include transform(translateY(-50%));
}

$inputPaddingTop: 12px;

.typeahead {
  .upper {
    padding: 20px $leftOffset;

    .input-wrapper {
      position: relative;

      input[type="text"] {
        -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
        -moz-box-sizing: border-box; // Firefox, other Gecko
        box-sizing: border-box; // Opera/IE8+
        width: 100%;
        outline: 0;
        padding: $inputPaddingTop 30px;
        border: 0;
        color: $blue;
        border-bottom: 2px solid $gray;
        font-size: 18px;
        &.active {
          border-color: $blue;
        }
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        content: "";
        background-image: url(./icons/pin_gray.svg);
        @include center-abs();
      }
      &.selected::before {
        background-image: url(./icons/pin.svg);
      }
    }
  }

  .lower {
    margin-top: 12px;
    padding: 20px 0;
    padding-bottom: 0;
    border-top: 1px solid $gray;
    // Although Parent is set to overflow:hidden, enable nested scroll for child
    overflow-y: auto;
    height: calc(100vh - 310px);

    .suggestions {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 18px;
      color: $blue;
      li {
        position: relative;
        padding: $inputPaddingTop 0 $inputPaddingTop 30px + $leftOffset;
        cursor: pointer;
        // Location icon
        &::before {
          position: absolute;
          top: 0;
          left: $leftOffset;
          width: 18px;
          height: 18px;
          content: "";
          background-image: url(./icons/pin.svg);
          @include center-abs();
        }

        // Hover and focus styles
        &:hover,
        &.kb-selected {
          background-color: rgba($color: $blue, $alpha: 0.15);
          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            background-color: $blue;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .typeahead .lower {
    height: auto;
    margin-top: 0;
    padding: 30px 0;
  }
}
